 
  body{
      font-size:125%;
      font-family: 'Montserrat', -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
      line-height: 1.5;
      height: 100%;
}
 /*
******************************************************************
                    TYPOGRAPHY
******************************************************************
*/
 
.material-icons{
    line-height: 0;
    vertical-align:middle;
    color:#c4c4c4;
}
.icons>div:hover{
    color:#575153;
    background-color: white;
  }
  .icon-view-links li:hover, .list-view li:hover, .lg-view-links li:hover{
    color:#00c8c8;
}
 
 /*
******************************************************************
                           CONTROLS
******************************************************************
*/
.control-strip{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    background-color:#fff;
    padding:0.5em;
    min-width:320px;
    z-index: 99999;
    user-select: none;
    border-bottom: 1 solid #000;
    font-weight: 700;
}
.icon-view{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.icon-view-links{
    display: flex;
    justify-content: space-between;
    font-size: 0.5rem;
    width: 100%;

}

.company-name span{
    font-weight: 400;
}


.lg-header, .lg-view-links{
    display:none;
}

 


 
 /*
******************************************************************
                            MAIN CONTENT
******************************************************************
*/
main{
    padding:4rem 0.25rem;
}

.feature{
    display: grid;
    grid-template-columns: repeat(2 1fr);
    grid-column-gap: 0.625rem;
    grid-row-gap: 0.625rem;
    grid-row: auto auto;
    padding-bottom: 0.625rem;
    
}
.feature img{
    width:100%;
}

.grid-cell figure{
    position: relative;
}
.icons > div{
    position: absolute;
    height: 6vw;
    width: 6vw;
    line-height: 6vw;
    font-size: 6vw;
    right:2.5%;
    top:2.5%;
    box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.25);
    border-radius: 50%;
    background-color: #9a9a9a;
    color: white;
}
.icons p{
    position: absolute;
    top:0%;
    left:0%;
    padding: 0.70rem 0.5rem;
    color: #a6a6a6;
    font-size: 3vw;
    font-weight: 300;
    
}
.sup{
    font-size: 0.5rem;
}
.item-strike-out{
    text-decoration: line-through;
    margin-right: .5rem;
}

.x2{
    grid-column:span 2;
}


 /*
******************************************************************
                            FOOTER
******************************************************************
*/
footer{
    width:100%;
    background-color: #f8f8f8;
}
.footer-link-box{
    margin: 0 auto;
    width:97%;
    display: flex;
    justify-content: space-between;
}
.footer-links{
    display:flex;
    justify-content: space-between;
    padding: 1rem 0;
    width:48%;    
}

.footer-links h5{
    color:#575153;
    padding-bottom: 0.5rem;
}
.footer-links li{
    color:#727272;
    padding-bottom: 0.5rem;
    font-size: 0.45rem;

}
.footer-boxes{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:98%;
    margin: 0 auto;

}
.footer-award, .footer-social-media{
    color:white;
    height: 20vw;
    width:48%;
    font-size: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

h3{
    font-weight: 700;
}
h4{
    font-weight: 400;
}
.footer-award{
    flex-direction: column;
    background-color: #333333;
}

.footer-social-media{
    background-color: #00c8c8;
}
.footer-social-media li{
    margin-left:0.5rem;
}

.footer-copywrite{
    margin-top: 2rem;
    width:100%;
    height:1.5rem;
    background-color: #333;
    color:#999;
}
.footer-copywrite p{
    text-align: center;
    font-size: 0.5rem;
    padding-top: 0.40rem;
}







 /*
******************************************************************
                            MEDIA QUERY
******************************************************************
*/

@media (min-width: 600px ){

 /*
******************************************************************
                    Large Nav
******************************************************************
*/
    .lg-header{
        display: block;
        background-image: url(../img/desktop-header.png);
        height: 40rem;
        background-repeat: no-repeat;
        background-attachment:initial;
        background-position: top left;
        position: relative;
    }
    .icon-view{
        display:none;
    }

    .control-strip{
        width:100%;
        position:static;
        padding: 0;
        background-color: #f8f8f8;
        font-weight: 400;
    }
    .company-name{
        font-weight: 700;
    }
    h1{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        color: #575153;
        font-size: 20rem;
    }
    .lg-header>a{
        position: absolute;
        padding: 0.5rem 1rem;
        color:#505152;
        text-decoration: none;
        border: 1px solid #7c7c7c;
        right: 15%;
        bottom: 20%;
        font-size: 0.75rem;
        font-weight: 300;
        box-shadow: 1px 1px #c3c3c3;
    }



    .list-view{
        font-size: 0.9rem;
        padding-top:1rem;
        margin: 0 auto;
        width:95%;
        display: flex;
        justify-content: space-between;
    }


    .list-view li{
        padding-right: 1.5rem;
    }

    .list-view h5:nth-child(1){
        margin-right: auto;
    }

 /*
******************************************************************
                    Large Main
******************************************************************
*/

    .lg-view-links{
        display: block;
    }
    .lg-view-links ul{
        display: flex;
        padding-top: 1rem;
        border-top: 1px solid #f8f8f8;
        padding-bottom: 2rem;
        font-size: 0.6rem;
        padding-left: 11vw;
        color:#aaaaaa;
    }
    .lg-view-links li{
        margin-right: 0.5rem;
    }
    .icons p{
        font-size: 1.25vw;
    }
    .icons > div{
        height: 2.25vw;
        width: 2.25vw;
        line-height: 2.25vw;
        font-size: 2.25vw;
        right:2.5%;
        top:2.5%;
        background-color: #9a9a9a;
        color: white;
    }
    .feature-layout{
        display:flex;
        justify-content: space-evenly;
        margin: 0 10vw;
    }
    .feature{
        flex: 0 1 48%;
        padding-bottom: 0;
    }

/*
******************************************************************
                    Large Footer
******************************************************************
*/

    .footer-link-box{
        width:60%;
    }
    .footer-links li{
        font-size: 0.75rem;
    }
    .footer-boxes{
        width: 60%;

    }
    .footer-award, .footer-social-media{
        height: 8rem;
        font-size: 1rem;
    }
    .footer-social-media{
        justify-content: space-evenly;
        padding:0 1rem;
    }


}