 
  body{
      font-size:125%;
      font-family: 'Montserrat', -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
      line-height: 1.5;
      height: 100%;
}
 /*
******************************************************************
                    TYPOGRAPHY
******************************************************************
*/
 
.material-icons{
    line-height: 0;
    vertical-align:middle;
    color:#c4c4c4;
}
 
 /*
******************************************************************
                           CONTROLS
******************************************************************
*/
.control-strip{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    background-color:#fff;
    padding:0.5em;
    min-width:320px;
    z-index: 99999;
    user-select: none;
    border-bottom: 1 solid #000;
    font-weight: 700;
}
.icon-view{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.icon-view-links{
    display: flex;
    justify-content: space-between;
    font-size: 0.5rem;
    width: 100%;

}
.icon-view-links li:hover{
    color:#00c8c8;
}
.company-name span{
    font-weight: 400;
}


.list-view{
    display:none;
}

 


 
 /*
******************************************************************
                            MAIN CONTENT
******************************************************************
*/
main{
    padding:4rem 0.25rem;
}

.feature{
    display: grid;
    grid-template-columns: repeat(2 1fr);
    grid-column-gap: 0.625rem;
    grid-row-gap: 0.625rem;
    grid-row: auto auto;
    padding-bottom: 0.625rem;
    
}
.feature img{
    width:100%;
}

.grid-cell figure{
    position: relative;
}
.icons i{
    position: absolute;
    padding: 1.25rem 0.25rem;
    right:0%;
    top:0%;
    font-size: 2rem;
}
.icons p{
    position: absolute;
    top:0%;
    left:0%;
    padding: 0.70rem 0.5rem;
    color: #a6a6a6;
    font-size: 0.75rem;
    font-weight: 300;
}
.sub{
    font-size: 0.5rem;
}
.item-strike-out{
    text-decoration: line-through;
    margin-right: .5rem;
}

.x2{
    grid-column:span 2;
}


 /*
******************************************************************
                            FOOTER
******************************************************************
*/
footer{
    width:100%;
    
}

.footer-links{
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    width:95%;
}
.footer-links li{

}
.footer-boxes{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:95%;
    margin: 0 auto;

}
.footer-award{
    text-align: center;
    background-color: #333333;
    color:white;
    width:48%;
    padding: 1rem;


}
.footer-social-media{
    background-color: #00c8c8;
    color:white;
    width:48%;
    text-align: center;
    padding:1.75rem;
}

.footer-copywrite{
    margin-top: 2rem;
    width:100%;
    height:1.5rem;
    background-color: #333;
}







 /*
******************************************************************
                            MEDIA QUERY
******************************************************************
*/

@media (min-width: 680px ){
    .feature-layout{
        display:flex;
        justify-content: space-evenly;
        margin: 0 10vw;
    }
    .feature{
        flex: 0 1 48%;
        padding-bottom: 0;
    }
}